ion-card {
  padding: 14px;
  margin: 0px !important;
  box-shadow: none;
  border-radius: 20px;
  text-align: center;

  background-size: 100%;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-attachment: fixed !important;
  background-position: center center !important;
}
.swiper-cards {
  width: 27vw !important;
  height: 27vw !important;
}
.modal-cards {
height: 43.335vw;
width: 43.335vw;
}

swiper-slide {
  position: relative;
  left: 6%;

  :dir(rtl) & {
    left: unset;
    right: 6%;
  }
}

ion-card-header {
  position: absolute;
  bottom: 0;
}

//---------------------------------------------------
// IF 4 slidesPerView
swiper-container:has(swiper-slide.swiper-slide-next:nth-last-child(2) ) swiper-slide {
  left: -6%;
}

swiper-container:has(swiper-slide.swiper-slide-next:nth-last-child(2) :dir(rtl)) swiper-slide {
  left: unset;
  right: -6%;
}
