<ion-buttons class="ion-padding">
  <ion-button fill="clear" class="subtitle" (click)="lang()">
    <h2>
      <ion-text class="middle" color="dark">Tiny Cards</ion-text>
      <ion-icon class="middle" color="medium" name="chevron-forward"></ion-icon>
    </h2>
  </ion-button>
</ion-buttons>

<swiper-container
  reverseDirection="true"
  [spaceBetween]="10"
  [slidesPerView]="3.45"
  [modules]="swiperModules"
>
  <swiper-slide>
    <ion-card [style.background]="'url(assets/images/01.jpg)'">
    </ion-card>
    <ion-text class="ion-text-center" color="dark"><p>Card one</p></ion-text>
  </swiper-slide>

  <swiper-slide>
    <ion-card [style.background]="'url(assets/images/02.jpg)'">
    </ion-card>
    <ion-text class="ion-text-center" color="dark"><p>Card one</p></ion-text>
  </swiper-slide>

  <swiper-slide>
    <ion-card [style.background]="'url(assets/images/03.jpg)'">
    </ion-card>
    <ion-text class="ion-text-center" color="dark"><p>Card one</p></ion-text>
  </swiper-slide>

  <swiper-slide>
    <ion-card [style.background]="'url(assets/images/04.jpg)'">
    </ion-card>
    <ion-text class="ion-text-center" color="dark"><p>Card one</p></ion-text>
  </swiper-slide>

  <swiper-slide>
    <ion-card [style.background]="'url(assets/images/05.jpg)'">
    </ion-card>
    <ion-text class="ion-text-center" color="dark"><p>Card one</p></ion-text>
  </swiper-slide>

</swiper-container>
