<ion-buttons class="ion-padding">
  <ion-button fill="clear" class="subtitle" id="items-swiper-modal">
    <h2>
      <ion-text class="middle" color="dark">{{
        content.label | translate
      }}</ion-text>
      <ion-icon class="middle" color="medium" name="chevron-forward"></ion-icon>
    </h2>
  </ion-button>
</ion-buttons>

<swiper-container
  [spaceBetween]="10"
  [slidesPerView]="1"
  [modules]="swiperModules"
>
  @for (list of items; track $index) {
  <swiper-slide>
    <ion-list [inset]="true" class="ion-no-margin">
      @for (item of list; track $index) {
      <ion-item button detail="{{ item.detail }}" [routerLink]="['/home']" [queryParams]="{modal: item.modalName}">
        <ion-icon slot="start" size="small" name="{{ item.icon }}"  class="{{ item.color }}"></ion-icon>
        <ion-label>{{ item.name }}</ion-label>
        <ion-note slot="end">{{ item.note }}</ion-note>
      </ion-item>
      }
    </ion-list>
  </swiper-slide>
  }
</swiper-container>

<ion-modal trigger="items-swiper-modal" (willDismiss)="onWillDismiss($event)" [presentingElement]="presentingElement">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>{{ content.label| translate }}</ion-title>

        <ion-buttons slot="end">
          <ion-button (click)="modal.dismiss()" class="close-btn">
            <ion-icon slot="icon-only" name="close-circle" color="dark"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

    <ion-content class="ion-padding">
      <ion-list [inset]="true" class="ion-no-margin">
        @for (item of content.items; track $index) {
          <ion-item button detail="{{ item.detail }}" [routerLink]="['/home']" [queryParams]="{modal: item.modalName}">
            <ion-icon
            slot="start"
            size="small"
            name="{{ item.icon }}"
            class="{{ item.color }}"
          ></ion-icon>
          <ion-label>{{ item.name }}</ion-label>
          <ion-note slot="end">{{ item.note }}</ion-note>
        </ion-item>
        }
      </ion-list>
    </ion-content>
  </ng-template>
</ion-modal>
