<ion-buttons class="ion-padding">
  <ion-button fill="clear" class="subtitle">
    <h2>
      <ion-text class="middle" color="dark">Items Swiper</ion-text>
      <ion-icon class="middle" color="medium" name="chevron-forward"></ion-icon>
    </h2>
  </ion-button>
</ion-buttons>

<swiper-container
  [spaceBetween]="10"
  [slidesPerView]="1"
  [modules]="swiperModules"
>
  <swiper-slide>
    <ion-list [inset]="true" class="ion-no-margin">
      <ion-item button detail="false">
        <ion-icon color="danger" slot="start" name="list-circle" size="large"></ion-icon>
        <ion-label>General</ion-label>
        <ion-note slot="end">6</ion-note>
      </ion-item>
      <ion-item button detail="false">
        <ion-icon color="tertiary" slot="start" name="list-circle" size="large"></ion-icon>
        <ion-label>Shopping</ion-label>
        <ion-note slot="end">15</ion-note>
      </ion-item>
      <ion-item button detail="false">
        <ion-icon color="success" slot="start" name="list-circle" size="large"></ion-icon>
        <ion-label>Cleaning</ion-label>
        <ion-note slot="end">3</ion-note>
      </ion-item>
      <ion-item button detail="false">
        <ion-icon color="warning" slot="start" name="list-circle" size="large"></ion-icon>
        <ion-label>Reminders</ion-label>
        <ion-note slot="end">8</ion-note>
      </ion-item>
    </ion-list>
  </swiper-slide>

  <swiper-slide>
    <ion-list [inset]="true" class="ion-no-margin">
      <ion-item button detail="false">
        <ion-icon color="danger" slot="start" name="list-circle" size="large"></ion-icon>
        <ion-label>General</ion-label>
        <ion-note slot="end">6</ion-note>
      </ion-item>
      <ion-item button detail="false">
        <ion-icon color="tertiary" slot="start" name="list-circle" size="large"></ion-icon>
        <ion-label>Shopping</ion-label>
        <ion-note slot="end">15</ion-note>
      </ion-item>
      <ion-item button detail="false">
        <ion-icon color="success" slot="start" name="list-circle" size="large"></ion-icon>
        <ion-label>Cleaning</ion-label>
        <ion-note slot="end">3</ion-note>
      </ion-item>
      <ion-item button detail="false">
        <ion-icon color="warning" slot="start" name="list-circle" size="large"></ion-icon>
        <ion-label>Reminders</ion-label>
        <ion-note slot="end">8</ion-note>
      </ion-item>
    </ion-list>
  </swiper-slide>
</swiper-container>
