<ion-buttons class="ion-padding">
  <ion-button fill="clear" class="subtitle" (click)="modal()">
    <h2>
      <ion-text class="middle" color="dark">{{ label | translate }}</ion-text>
      <ion-icon class="middle" color="medium" name="chevron-forward"></ion-icon>
    </h2>
  </ion-button>
</ion-buttons>

<swiper-container
  [spaceBetween]="10"
  [slidesPerView]="1.5"
  [modules]="swiperModules"
>
  <swiper-slide>
    <ion-card [style.background]="'url(assets/images/01.jpg)'">
      <ion-card-header>
        <ion-card-title class="primary-text">Card Title</ion-card-title>
        <ion-card-subtitle class="primary-text"
          >Card Subtitle</ion-card-subtitle
        >
      </ion-card-header>
    </ion-card>
  </swiper-slide>

  <swiper-slide>
    <ion-card [style.background]="'url(assets/images/02.jpg)'">
      <ion-card-header>
        <ion-card-title class="primary-text">Card Title</ion-card-title>
        <ion-card-subtitle class="primary-text"
          >Card Subtitle</ion-card-subtitle
        >
      </ion-card-header>
    </ion-card>
  </swiper-slide>

  <swiper-slide>
    <ion-card [style.background]="'url(assets/images/03.jpg)'">
      <ion-card-header>
        <ion-card-title class="primary-text">Card Title</ion-card-title>
        <ion-card-subtitle class="primary-text"
          >Card Subtitle</ion-card-subtitle
        >
      </ion-card-header>
    </ion-card>
  </swiper-slide>

  <swiper-slide>
    <ion-card [style.background]="'url(assets/images/04.jpg)'">
      <ion-card-header>
        <ion-card-title class="primary-text">Card Title</ion-card-title>
        <ion-card-subtitle class="primary-text"
          >Card Subtitle</ion-card-subtitle
        >
      </ion-card-header>
    </ion-card>
  </swiper-slide>

  <swiper-slide>
    <ion-card [style.background]="'url(assets/images/05.jpg)'">
      <ion-card-header>
        <ion-card-title class="primary-text">Card Title</ion-card-title>
        <ion-card-subtitle class="primary-text"
          >Card Subtitle</ion-card-subtitle
        >
      </ion-card-header>
    </ion-card>
  </swiper-slide>
</swiper-container>
