<swiper-container init="false" #swiper>
  @for (item of content; track $index) {
  <swiper-slide>
    <ion-card [style.background]="item.background" [style]="cardStyle">
      <ion-row
        class="swiperCard {{ props.align }}"
        [ngClass]="{
          'text-center': props.center === true,
          'btn-padding': item.hasButton === true
        }"
      >
        <ion-col>
          @if (item.subtitle !== '' || item.title !== '') {
          <ion-card-header>
            @if (item.title !== '') {
            <ion-card-title class="primary-text">{{
              item.title | translate
            }}</ion-card-title>
            } @if (item.subtitle !== '') {
            <ion-card-subtitle class="primary-text">{{
              item.subtitle | translate
            }}</ion-card-subtitle>
            }
          </ion-card-header>
          } @if (item.detail !== '') {
          <ion-card-content class="primary-text">
            {{ item.detail | translate }}
          </ion-card-content>
          }
        </ion-col>
        @if (item.hasButton === true) {
        <ion-row class="card-footer" [style.bottom]="'30px'">
          <ion-col>
            <ion-button
              fill="clear"
              class="subtitle primary-text"
              [routerLink]="item.button.routerLink"
              [queryParams]="item.button.queryParams"
            >
              <h2>
                <ion-text class="middle">{{
                  item.button.label | translate
                }}</ion-text>
                <ion-icon class="middle" name="chevron-forward"></ion-icon>
              </h2>
            </ion-button>
          </ion-col>
        </ion-row>
        }
      </ion-row>
    </ion-card>
  </swiper-slide>
  }
</swiper-container>
