ion-card {
  width: 100% !important;
  margin: 0px !important;
  box-shadow: none;
  border-radius: 0px !important;

  background-size: 100%;
  background-repeat: no-repeat!important;
  background-size: cover!important;
  background-attachment: fixed!important;
  background-position: center center!important;

  padding-top: calc(var(--ion-safe-area-top) + 70px);
}

.card-footer {
  position: absolute;
  bottom: 30px;
  width: 100%;
}

.swiperCard {
  height: 100%;
  width: 100%;
  padding-bottom: 30px;
}

//---------------------------------------------------

.btn-padding {
  padding-bottom: 70px;
}

.text-center {
  text-align: center;
}

.start {
  align-items: start;
}

.mid {
  align-items: center;
}

.end {
  align-items: end;
}
