// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

// General root
:root {
  --ion-background-color: var(--ion-color-step-100, var(--ion-background-color-step-100)) !important;

  --ion-item-background: var(--ion-color-light) !important;

  --swiper-pagination-bullet-inactive-color: var(--ion-text-color-step-800, #cccccc);
  --swiper-pagination-color: var(--ion-color-primary, #0054e9);
  --swiper-pagination-progressbar-bg-color: rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.25);
  --swiper-scrollbar-bg-color: rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.1);
  --swiper-scrollbar-drag-bg-color: rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.5);

  --swiper-pagination-color: var(--swiper-theme-color);
  --swiper-pagination-bullet-size: 9px;
  --swiper-pagination-bullet-width: 9px;
  --swiper-pagination-bullet-height: 9px;
  --swiper-pagination-bullet-inactive-color: #fff;
  --swiper-pagination-bullet-inactive-opacity: 0.7;
  --swiper-pagination-bullet-opacity: 1;
  --swiper-pagination-bullet-horizontal-gap: 4px;
  --swiper-pagination-bullet-vertical-gap: 6px;
}

// ------------------------------------

swiper-slide {
  display: flex;
  position: relative;

  flex-direction: column;
  flex-shrink: 0;

  width: 100%;
  height: 100%;

  box-sizing: border-box;
}

// ------------------------------------
// Me

html:dir(rtl) swiper-container {
    direction: rtl;
}

ion-list {
  margin: 0px !important;
}

.white-text {
  color: #fff !important;
}
.white-btn {
    --background: var(--ion-color-btn, #fff);
    --color: var(--ion-color-primary);
}

// ------------------------------------

ion-toolbar {
  --background: transparent;
  border: none;
  --border-width: 0 !important;
}

p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

a {
  text-decoration: none;
}

#container {
  margin-bottom: 34px;
}

h2 {
  font-weight: bold;
  margin: auto;
}

.middle {
  display: inline-block;
  vertical-align: middle;
}

.subtitle {
  padding: 0px !important;
  margin: 0px !important;
}


// html:not(.plt-hybrid) ion-header {
//   background: linear-gradient(
//     0deg,
//     rgba(25, 118, 210, 0) 0%,
//     rgba(25, 118, 210, 0.85) 75%,
//     rgba(25, 118, 210) 100%
//   );
// }
