// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

// General root

// ------------------------------------
// THEME COLORS
:root {
  --ion-color-primary: #1976d2;
  --ion-color-primary-rgb: 25, 118, 210;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #1668b9;
  --ion-color-primary-tint: #3084d7;

  --ion-background-color: #f2f2f7 !important;
  --ion-item-background: #e3e3e8 !important;
}
.ion-palette-dark {
  --ion-background-color: #1c1c1e !important;
  --ion-item-background: #323135 !important;
}
ion-header {
  // background: #1976d2;

  // IF no card maodal
  padding-bottom: 6px;
  padding-top: 6px;
  padding-right: calc(var(--ion-safe-area-right) + 8px);
  padding-left: calc(var(--ion-safe-area-left) + 8px);
}
.header-padding {
  padding-bottom: 6px;
  padding-top: 6px;
  padding-right: calc(var(--ion-safe-area-right) + 8px);
  padding-left: calc(var(--ion-safe-area-left) + 8px);
}
.primary-text {
  color: #fff !important;
}
.primary-btn {
  --background: var(--ion-color-btn, #fff);
  --color: var(--ion-color-primary);
}

// ------------------------------------

ion-toolbar {
  --background: transparent;
  border: none;
  --border-width: 0 !important;
}
ion-list {
  margin: 0px !important;
}
ion-item ion-icon {
  background-color: var(--ion-color-primary);
  color: var(--ion-color-primary-contrast);
  border-radius: 6px;
  padding: 5px;
}
ion-menu ion-item.selected {
  --ion-item-background: var(--ion-color-primary-tint) !important;
  color: var(--ion-color-primary-contrast);
}

// ------------------------------------
// Me
.show-md {
  @media (width < 768px) {
    display: none;
  }
}
.hide-md {
  @media (width >= 768px) {
    display: none;
  }
}
.title-large {
  padding-inline-start: 4px !important;
}
.title-med {
  font-size: 1.6rem;
}
.red-text {
  color: var(--ion-color-danger) !important;
}

p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}
a {
  text-decoration: none;
}
#container {
  margin-bottom: 34px;
}
h2 {
  font-weight: bold;
  margin: auto;
}
.middle {
  display: inline-block;
  vertical-align: middle;
}
.subtitle {
  padding: 0px !important;
  margin: 0px !important;
}

// ------------------------------------
// swiper-slide

swiper-slide {
  display: flex;
  position: relative;

  flex-direction: column;
  flex-shrink: 0;

  width: 100%;
  height: 100%;

  box-sizing: border-box;
}

:root {
  --swiper-pagination-bullet-inactive-color: var(
    --ion-text-color-step-800,
    #cccccc
  );
  --swiper-pagination-color: var(--ion-color-primary);
  --swiper-pagination-progressbar-bg-color: rgba(
    var(--ion-text-color-rgb, 0, 0, 0),
    0.25
  );
  --swiper-scrollbar-bg-color: rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.1);
  --swiper-scrollbar-drag-bg-color: rgba(
    var(--ion-text-color-rgb, 0, 0, 0),
    0.5
  );

  --swiper-pagination-color: var(--swiper-theme-color);
  --swiper-pagination-bullet-size: 9px;
  --swiper-pagination-bullet-width: 9px;
  --swiper-pagination-bullet-height: 9px;
  --swiper-pagination-bullet-inactive-color: #fff;
  --swiper-pagination-bullet-inactive-opacity: 0.7;
  --swiper-pagination-bullet-opacity: 1;
  --swiper-pagination-bullet-horizontal-gap: 4px;
  --swiper-pagination-bullet-vertical-gap: 6px;
}

html:dir(rtl) swiper-container {
  direction: rtl;
}
