<ion-header [translucent]="true" class="ion-padding-top">
  <ion-toolbar>
    @if (isStandalone === true) {
    <ion-title size="large">{{'profile' | translate}}</ion-title>
    }
    @if (isStandalone === false) {
      <ion-title>{{'profile' | translate}}</ion-title>
      <ion-buttons slot="start">
        <ion-back-button default-href="#" text="{{back | translate}}" color="dark"></ion-back-button>
      </ion-buttons>
    }

    <ion-buttons slot="end">
      <ion-button (click)="close()">
        <ion-icon slot="icon-only" name="close-circle" color="dark"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <p class="ion-margin-bottom">You will be prompted when closing this modal.</p>

  <ion-list [inset]="true" class="ion-no-margin">
    <ion-item button detail="false">
      <ion-icon color="success" slot="start" name="list-circle" size="large"></ion-icon>
      <ion-label>Cleaning</ion-label>
      <ion-note slot="end">3</ion-note>
    </ion-item>
    <ion-item button detail="false">
      <ion-icon color="warning" slot="start" name="list-circle" size="large"></ion-icon>
      <ion-label>Reminders</ion-label>
      <ion-note slot="end">8</ion-note>
    </ion-item>
  </ion-list>
</ion-content>
