<ion-header>
  <ion-toolbar>
    <ion-title size="large" class="white-text">The quick</ion-title>

    <ion-buttons slot="primary">
      <ion-button id="open-modal" expand="block">
        <ion-icon slot="icon-only" name="notifications" class="white-text profile-icon"></ion-icon>
      </ion-button>

      <!-- <ion-button fill="solid" shape="round" class="white-btn" id="open-modal" expand="block">
        <ion-text class="ion-padding-horizontal"></ion-text>
      </ion-button> -->

      <!-- <ion-button (click)="openProfileModal()">
        <img src="assets/p.jpg" class="profile-img">
      </ion-button> -->

      <ion-button (click)="openSettingsModal()">
        <ion-icon slot="icon-only" name="settings" class="white-text profile-icon"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <ion-grid class="ion-no-padding">
      <ion-row>
        <ion-col>
          <app-cover-full-swiper></app-cover-full-swiper>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <app-cards-tiny-swiper></app-cards-tiny-swiper>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <app-cards-big-swiper></app-cards-big-swiper>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <app-cards-small-swiper></app-cards-small-swiper>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <app-items-swiper></app-items-swiper>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="ion-padding">
          <p>Built with love</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <ion-modal trigger="open-modal" [initialBreakpoint]="1" [breakpoints]="[0, 1]">
    <ng-template>
      <div class="block">Block of Content</div>
    </ng-template>
  </ion-modal>
</ion-content>
