<ion-header>
  <ion-toolbar>
    <ion-title size="large" class="primary-text">The quick</ion-title>

    <ion-buttons slot="primary">
      <ion-button (click)="openSettingsModal()">
        <ion-icon
          slot="icon-only"
          name="notifications"
          class="primary-text profile-icon"
        ></ion-icon>
      </ion-button>

      <!-- <ion-button fill="solid" shape="round" class="primary-btn" id="open-modal" expand="block">
        <ion-text class="ion-padding-horizontal">xxx</ion-text>
      </ion-button> -->

      <!-- <ion-button (click)="openProfileModal()">
        <img src="assets/p.jpg" class="profile-img">
      </ion-button> -->
      <ion-button id="open-settings-modal" expand="block">
        <ion-icon
          slot="icon-only"
          name="settings"
          class="primary-text profile-icon"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <ion-grid class="ion-no-padding">
      <ion-row>
        <ion-col>
          <app-cover-full-swiper></app-cover-full-swiper>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <app-cards-tiny-swiper></app-cards-tiny-swiper>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <app-cards-big-swiper></app-cards-big-swiper>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <app-cards-small-swiper></app-cards-small-swiper>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <app-items-swiper></app-items-swiper>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="ion-padding">
          <p>Built with love</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <ion-modal
    trigger="open-settings-modal"
    [initialBreakpoint]="1"
    [breakpoints]="[0, 1]"
    #sheetModal
  >
    <ng-template>
      <div class="block ion-margin ion-padding-vertical">
        <p class="ion-margin-horizontal">TITLE</p>

        <ion-list [inset]="true">
          <ion-item button detail="false" (click)="openProfileModal()">
            <ion-icon slot="start" name="person" size="small"></ion-icon>
            <ion-label>{{'profile' | translate}}</ion-label>
          </ion-item>

          <ion-item button detail="false">
            <ion-icon slot="start" name="language" size="small"></ion-icon>
            <ion-select
              label="{{'language' | translate}}"
              placeholder="{{ 'select' | translate }}"
              okText="{{'change' | translate}}"
              cancelText="{{'cancel' | translate}}"
              (ionChange)="handleLangChange($event)"
              [value]="appLang"
            >
              <ion-select-option value="ar-SA"
                >{{ 'ar-SA' | translate }}</ion-select-option
              >
              <ion-select-option value="en-US"
                >{{ 'en-US' | translate }}</ion-select-option
              >
            </ion-select>
          </ion-item>

          <ion-item button detail="false">
            <ion-icon slot="start" name="invert-mode" size="small"></ion-icon>
            <ion-select
              interface="popover"
              label="{{'mode' | translate}}"
              placeholder="{{ 'select' | translate }}"
              okText="{{'change' | translate}}"
              cancelText="{{'cancel' | translate}}"
              (ionChange)="handleModeChange($event)"
              [value]="appMode"
            >
              <ion-select-option value="auto"
                >{{ 'auto-mode' | translate }}</ion-select-option
              >
              <ion-select-option value="light"
                >{{ 'light-mode' | translate }}</ion-select-option
              >
              <ion-select-option value="dark" lines="none"
                >{{ 'dark-mode' | translate }}</ion-select-option
              >
            </ion-select>
          </ion-item>

          <ion-item button detail="false" (click)="logout()">
            <ion-icon slot="start" name="log-out" size="small"></ion-icon>
            <ion-label>{{'logout' | translate}}</ion-label>
          </ion-item>
        </ion-list>

        <p class="ion-margin-horizontal ion-margin-top">
          You will be prompted when closing this modal.
        </p>
      </div>
    </ng-template>
  </ion-modal>
</ion-content>
